@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/manrope/static/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url("assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url("assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Font Sizes */
  --fs-400: clamp(0.8594rem, 0.8177rem + 0.2083vw, 1rem);
  --fs-500: clamp(1.0313rem, 0.9664rem + 0.3241vw, 1.25rem);
  --fs-600: clamp(1.2375rem, 1.1412rem + 0.4815vw, 1.5625rem);
  --fs-700: clamp(1.485rem, 1.3463rem + 0.6935vw, 1.9531rem);
  --fs-800: clamp(1.7819rem, 1.5865rem + 0.9769vw, 2.4413rem);
  --fs-900: clamp(2.1381rem, 1.8674rem + 1.3537vw, 3.0519rem);
  --fs-1000: clamp(2.5663rem, 2.1963rem + 1.85vw, 3.815rem);
  --fs-1100: clamp(3.0794rem, 2.579rem + 2.5019vw, 4.7681rem);
  --fs-1200: clamp(3.695rem, 3.0237rem + 3.3565vw, 5.9606rem);

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  --fw-black: 900;

  /* Font Families */
  --ff-primary-100: "Fraunces", serif;
  --ff-primary-200: "Manrope", sans-serif;

  /* Colour Palette */
  --clr-primary-100: hsl(273, 85%, 13%);
  --clr-primary-200: hsl(150, 100%, 63%);
  --clr-primary-300: hsl(271, 12%, 34%);
  --clr-primary-400: hsl(274, 100%, 99%);
  --clr-primary-500: hsl(0, 0%, 100%);

  /* Spacing */
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-sm: 24px;
  --spacing-md: 32px;
  --spacing-lg: 40px;
  --spacing-xl: 48px;
  --spacing-2xl: 56px;
  --spacing-3xl: 64px;
  --spacing-4xl: 72px;
  --spacing-5xl: 80px;
  --spacing-6xl: 88px;
  --spacing-7xl: 96px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
  font-weight: inherit;
  font-size: inherit;
}

/* links */
.link__access {
  font-family: var(--ff-primary-200);
  text-decoration: none;
  color: var(--clr-primary-400);
  position: relative;
}

.link__access::before {
  content: "";
  width: 100%;
  bottom: -2px;
  position: absolute;
  border-bottom: 3px solid var(--clr-primary-200);
}

.link__access:hover {
  color: var(--clr-primary-200);
}

.link__learn {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-400);
  text-decoration: none;
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-100);
  font-weight: var(--fw-bold);
  width: 133px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0;
}

.link__learn:hover {
  color: var(--clr-primary-200);
  background-color: var(--clr-primary-100);
  border: 2px solid var(--clr-primary-200);
}

.link__apply {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-400);
  text-decoration: none;
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-100);
  font-weight: var(--fw-bold);
  width: 172px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0 36px 0;
}

body {
  background-color: var(--clr-primary-400);
  margin: 0;
}

.main__wrapper {
  position: relative;
  overflow-x: hidden;
  /* background-color: var(--clr-primary-100); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px 128px 16px;
  background-image: url("assets/bg/main-rec.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  /* Other styles for your main class */
  position: relative;
}

@media (min-width: 605px) {
  .main__wrapper::before {
    content: "";
    background-image: url("assets/images/bg-pattern-1.svg");
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 60px;

    overflow-x: hidden;
    left: -220px;
    width: 350px; /* Adjust as necessary */
    height: 300px;
    z-index: 100; /* Ensure it's behind other content */
  }

  .main__wrapper::after {
    content: "";
    background-image: url("assets/images/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute; /* or absolute */
    top: 180px;

    overflow-x: hidden;
    right: -100px;
    width: 350px; /* Adjust as necessary */
    height: 300px;
    z-index: 100; /* Ensure it's behind other content */
  }
}

@media (min-width: 1142px) {
  body::before {
    top: 100px;

    left: -140px;
  }

  body::after {
    top: 220px;
    right: -60px;
  }
}

header {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--clr-primary-100);
}

main {
  /* background-color: var(--clr-primary-100); */

  padding-bottom: 128px;
  background-image: url("assets/bg/main-rec.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  /* Other styles for your main class */
  position: relative;
}

.main::after {
  content: "";
  position: absolute; /* Position the pseudo-element absolutely */
  bottom: -85px; /* Align the top edge with the container */
  left: 50%; /* Set the left edge to 50% of the container */
  transform: translateX(-50%); /* Offset by half its own width to center */
  width: 320px;
  height: 184px;
  background-image: url("assets/images/image-hero.webp");
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  background-size: cover;
}

@media (min-width: 605px) {
  main {
    padding-bottom: 128px;
  }

  .main::after {
    bottom: -150px; /* Align the top edge with the container */
    width: 514px;
    height: 296px;
  }
}

@media (min-width: 1142px) {
  main {
    padding-bottom: 128px;
  }

  .main::after {
    bottom: -150px; /* Align the top edge with the container */
    width: 767px;
    height: 441px;
  }
}

h1 {
  font-family: var(--ff-primary-100);
  font-size: var(--fs-1000);
  line-height: 1.2;
  color: var(--clr-primary-400);
  font-weight: var(--fw-semi-bold);
  text-align: center;
}

.main__title span {
  position: relative;
}

.main__title span:before {
  content: "";
  width: 100%;
  bottom: 0px;
  position: absolute;
  border-bottom: 3px solid var(--clr-primary-200);
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 0 16px;
  background-color: var(--clr-primary-400);
  margin-top: 108px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
  text-align: center;
}

.features__number {
  font-family: var(--ff-primary-100);
  border: 1px solid var(--clr-primary-300);
  border-radius: 100%;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-primary-100);
  font-size: var(--fs-600);
}

.features__title {
  font-family: var(--ff-primary-100);
  font-size: var(--fs-700);
  line-height: 1;
  color: var(--clr-primary-100);
  font-weight: var(--fw-semi-bold);
}

.features__description {
  text-align: center;
  font-family: var(--ff-primary-200);
  font-size: var(--fs-500);
  max-inline-size: 493px;
  color: var(--clr-primary-300);
  line-height: 1.7;
  font-weight: var(--fw-medium);
}

@media (min-width: 605px) {
  .features {
    width: min(100%, 573px);
    margin: 128px auto 0 auto;
    padding: 0;
  }

  .features__item {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    text-align: start;
    margin-top: 36px;
  }

  .features__title {
    grid-column: 2;
  }

  .features__number {
    grid-row: 2;
  }

  .features__description {
    text-align: left;
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 1142px) {
  .features {
    width: min(100%, 1094px);
    display: grid;
    gap: 24px;
    margin: 200px auto 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .features__title {
    margin-top: 36px;
  }

  .features__item {
    display: flex;
    flex-direction: column;
  }

  .features__description {
    text-align: center;
  }

  .features__number {
    width: 56px;
    height: 56px;
  }
}

.promo {
  margin-top: 128px;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 230px 51px 312px;
}

.promo img {
  width: 281px;
  height: 281px;
  margin: 0 auto;
  grid-row: 1/3;
  grid-column: 1;
  z-index: -100;
}

.promo__apply {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-100);
  padding: 0 24px;
  margin: 0 auto;
  width: fit-content;
  grid-column: 1;
  grid-row: 2/4;
}

.promo__title {
  font-family: var(--ff-primary-100);
  font-size: var(--fs-800);
  line-height: 1;
  color: var(--clr-primary-400);
  font-weight: var(--fw-semi-bold);
  margin-top: 32px;
}

.promo__description {
  font-family: var(--ff-primary-200);
  font-size: var(--fs-500);
  line-height: 1.8;
  color: var(--clr-primary-400);
  font-weight: var(--fw-regular);
  text-align: center;
  margin-top: 24px;
  max-inline-size: 450px;
}

@media (min-width: 605px) {
  .promo {
    grid-template-columns: 175px 106px 1fr;
    grid-template-rows: 151px 130px 1fr;
    width: min(100%, 750px);
    margin: 128px auto 0 auto;
  }

  .promo img {
    width: 281px;
    height: 281px;
    margin: 0 auto;
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: -100;
  }

  .promo__apply {
    grid-column: 2/4;
    grid-row: 2/4;
  }

  .promo__description {
    text-align: start;
  }
}

@media (min-width: 1142px) {
  .promo img {
    width: 477px;
    height: 477px;
  }
}

.footer {
  width: fit-content;
  margin: 64px auto 0 auto;
  padding-bottom: 64px;
}

.footer__logo {
  width: 95.76px;
  height: 24.61px;
}

.footer__socials {
  display: flex;
  justify-content: center;
  margin: 32px 0 0 0;
}

.footer__socials img {
  width: 20px;
  height: 20px;
}

.footer__socials img:nth-child(2) {
  margin: 0 16px;
}

@media (min-width: 605px) {
  .footer {
    padding-bottom: 96px;
  }
}
